body {
	font-family: "微軟正黑體", "Microsoft JhenHei", sans-serif;
}

.sticky-btn-offset {
    top: 110px;
    margin-right: 15px;
}

.hamburger {
	font-size: 32px;
	font-weight: bold;
	vertical-align: middle;
}

.focused-element {
	background-color: rgb(233, 218, 13);
}

fieldset {
	border:1px solid rgb(204, 202, 202);
	padding:10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background: #EEE;
	clear: both;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	/*
	background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
	background:linear-gradient(top,#EFEFEF,#FFFFFF);

	box-shadow:3px 3px 10px #666;
	-moz-box-shadow:3px 3px 10px #666;
	-webkit-box-shadow:3px 3px 10px #666;
	*/
	position:relative;
}

legend {
	width: auto;
	padding:5px 10px;
	background-color:rgb(88, 88, 88);
	color:#FFF;
	font-weight: bold;

	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;

	box-shadow:2px 2px 4px #666;
	-moz-box-shadow:2px 2px 4px #666;
	-webkit-box-shadow:2px 2px 4px #666;
  /*
	position:absolute;
	left:10px;top:-11px;
  */
}

#contact a:link, a:visited, a:hover {
	color: gray;
}

.container-custom-width {
	min-width: 1024px;
}

.bg-zhongli {
	background-color: #7dc750;
}

.bg-light-blue {
	background-color: #e0f6fc;
}

.more-gap {
	margin-top: 10px;
}

.highlight {
	background-color: #28a745;
	color: #FFF;
	font-weight: bold;
}

.btn-circle.btn-custom { 
	width: 40px; 
	height: 40px; 
	padding: 0;
	border-radius: 20px; 
	font-size: 20px; 
	text-align: center; 
	background-color: #7dc750;
} 

.btn-circle.btn-sm { 
	width: 30px; 
	height: 30px; 
	padding: 6px 0px; 
	border-radius: 15px; 
	font-size: 8px; 
	text-align: center; 
} 

.btn-circle.btn-md { 
	width: 50px; 
	height: 50px; 
	padding: 7px 10px; 
	border-radius: 25px; 
	font-size: 10px; 
	text-align: center; 
} 

.btn-circle.btn-xl { 
	width: 70px; 
	height: 70px; 
	padding: 10px 16px; 
	border-radius: 35px; 
	font-size: 12px; 
	text-align: center; 
} 

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    /* font-size: 25px; */
    font-weight: 700;
    /* line-height: 30px; */
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.qty div {
    text-align: center;
}
.qty .minus:hover{
    background-color: #717fe0 !important;
}
.qty .plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
.qty span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.qty input{  
    border: 0;
    width: 10px;
}

.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty input:disabled{
    background-color:white;
}
