.hamburger {
	font-size: 24px;
	font-weight: bold;
}

.tooltip > .tooltip-inner {
  border: 1px solid white;
  padding: 5px;
  font-size: 16px;
}
.optgrp, #relative_law_result, .left {
  text-align: left;
}

fieldset {
	border:0;
	padding:10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background:#EEE;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
	background:linear-gradient(top,#EFEFEF,#FFFFFF);

	box-shadow:3px 3px 10px #666;
	-moz-box-shadow:3px 3px 10px #666;
	-webkit-box-shadow:3px 3px 10px #666;

	position:relative;
	}

legend {
	width: auto;
	padding:5px 10px;
	background-color:rgb(88, 88, 88);
	color:#FFF;
	font-weight: bold;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	box-shadow:2px 2px 4px #666;
	-moz-box-shadow:2px 2px 4px #666;
	-webkit-box-shadow:2px 2px 4px #666;
  /*
	position:absolute;
	left:10px;top:-11px;
  */
}

.layer1 {
  margin-bottom: 15px;
}
.layer1 legend {
	text-align: left;
}

.layer2 {
  text-align: left;
  margin: 0 15px 15px 15px;
}
.layer2 legend {
	background-color:rgb(129, 127, 127);
	font-size: larger;
}

.layer3 {
  margin: 0 15px 15px 15px;
}
.layer3 legend {
	background-color:rgb(174, 177, 175);
	font-size: large;
}

.layer4 {
  margin: 0 15px 15px 15px;
}
.layer4 legend {
	background-color:rgb(174, 177, 175);
	font-size: medium;
}

.layer5 {
  margin: 0 15px 15px 15px;
}
.layer5 legend {
	background-color:rgb(174, 177, 175);
	font-size: small;
}

.layer6 {
  margin: 0 15px 15px 15px;
}
.layer6 legend {
	background-color:rgb(174, 177, 175);
	font-size: small;
}

.buttons {
  margin-top: 15px;
}

.hide {
  display: none;
}

.pdf {
	width: 16px;
	height: auto;
	vertical-align: middle;
}